<footer class="app-footer">
  <div class="footer-content">
    <img class="footer-logo" src="assets/logo.svg" alt="Ávoris Logo Footer" />
    <div class="footer-text">
      <!-- Line with Name and Icons -->
      <div class="footer-main-line">
        <span class="footer-name">Marius Mihail Ion</span>
        <span class="separator">|</span>
        <a
          href="https://www.linkedin.com/in/mariusdev/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Perfil de LinkedIn de Marius Mihail Ion"
          class="social-icon"
        >
          <i class="bi bi-linkedin"></i>
        </a>
        <span class="separator">|</span>
        <a
          href="https://mihailmariusiondev.github.io/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Portfolio de Marius Mihail Ion en GitHub"
          class="social-icon"
        >
          <i class="bi bi-github"></i>
        </a>
      </div>
      <!-- Copyright Text Below -->
      <p class="copyright-text">
        © {{ currentYear }} Ávoris Corporación Empresarial. Prueba Técnica Angular.
      </p>
    </div>

    <div class="footer-links">
      <a href="#">Aviso Legal</a>
      <a href="#">Privacidad</a>
    </div>
  </div>
</footer>
